.main {
	display: flex;
	font-family: "Concert One","Oswald";
	align-items: stretch;
	width: 100vw;
}

@media ( max-width :600px){
	.main{
		width: 100vw;
		display: flex;
		flex-direction: column;
		
	}
}