.navigation {
	flex-basis: 20%;
	min-width: 300px;
	min-height: 90vh;
	background: #325F94;

}

.navigation-options{
	padding:5%;
	position: sticky;
	top:0;
	display: flex;
	flex-direction: column;
 overflow: hidden auto;
	margin-bottom: 15%;
}
.locale-options{
	margin:5% 0;
	
	display: flex;
	align-items: center;
	justify-content:space-around;
}
 
  

@media ( max-width :600px){
	.navigation-options{
	
		top:0;
	}
}
@media ( max-width :599px){
	.navigation{
		
		width: 100vw;
		
	}
}